@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

div.space-x-4 > :not(:last-child) {
  margin-right: 1rem;
}

div.space-y-4 > :not(:last-child) {
  margin-bottom: 1rem;
}

.cursor-pointer {
  cursor: pointer;
}
button {
  background-color: Transparent;

  background-repeat: no-repeat;
  border: none;
}
